<div class="player_card">
    <h2>{{me.username}}</h2>
</div>
<!-- Only players can answer prompts -->
<div v-if="!audience.includes(me.username)">
    <div v-if="prompt1!=''">

        <div>
            <h3>Answer this prompt</h3>
            <h3><i>"{{prompt1}}"</i> </h3>
        </div>
        <div>
            <textarea v-model="answer1" class="form-control z-depth-1"
                placeholder="You debug a missing semicolon..."></textarea>
            <button v-on:click="submitAnswer()" class="game_button">Submit Answer</button>
        </div>
    </div>

    <!-- If player has finished submitting answers for their prompts -->
    <div v-else>
        <p>Waiting for other players to finish writing...</p>
    </div>
</div>

<!-- The audience cannot answer prompts -->
<div v-else>
    <p>Unfortunately, you cannot answer prompts because you are an audience member :(</p>
    <br />
    <p>But you can vote, so it is not that bad! </p>
</div>