<!doctype html>
<html lang="en">

    <%- include('header'); -%>

    <h2 class="title">ECS Example Game</h2>

    <div  id="game">
        <div >
            <p>my state: {{me.state}}</p>>
            <p>game state:{{state.state}}</p>
        </div>
        <div>
            <button v-on:click="reverseState">ReverseState</button>
        </div>
    </div>

    <%- include('footer'); -%>

</html>