<div class="player_card">
    <h2>{{me.username}}</h2>
</div>
<div class="score">
    <h1>Game results:</h1>
    <div class="score_row" v-for="score in gameState.scores">
        <h2>{{players[gameState.scores.indexOf(score)]}}: </h2>
        <h2>{{score}} </h2>
    </div>
</div>