<!-- Player's username -->
<div class="player_card">
    <h2>{{me.username}}</h2>
</div>


<!-- If player already submitted a prompt -->
<div v-if="clicked==true">
    <p>Waiting for other players to finish writing...</p>
</div>

<div v-else>
    <h3>Write an amusing prompt for your friends to answer!</h3>
    <h6>Round {{gameState.round}}/4</h6>

    <textarea v-model="prompt" class="form-control z-depth-1" placeholder="That moment when..."></textarea>
    <button v-on:click="createPrompt()" class="game_button">Create prompt</button>
</div>