<div class="container">
    <h2>Register</h2>
    <input type="text" v-model="me.username" placeholder="Enter your username" />
    <input type="password" v-model="me.password" placeholder="Enter your password" />
    <button v-on:click="register">Register</button>
    <button v-on:click="changeMeState(0)" class="btn btn-dark">Already have an account? Login!</button>
</div>