<div>
    <h1>Round {{gameState.round}}/3 scores:</h1>
    <div v-for="result in gameState.roundScores">
        <h2>{{result}}</h2>
        <h2>for {{players[gameState.roundScores.indexOf(result)]}}</h2>
    </div>

    <!-- If player is the host -->
    <button v-if="me.username==players[0]" v-on:click="nextRound()" class="btn btn-dark">Go to next round</button>
</div>