<div class="player_card">
    <h2>{{me.username}}</h2>
</div>
<div class="score">
    <h1>Round {{gameState.round}}/4 scores:</h1>
    <div class="score_row" v-for="(score,index) in gameState.roundScores">
        <h2>{{players[index]}}: </h2>
        <h2>{{score}} </h2>
    </div>
</div>