<div class="waiting_players">
    <div>
        <h2>Waiting for players...</h2>
        <h4>{{players.length}}/8</h4>
    </div>
    <div v-if="me.username==players[0]">
        <button v-on:click="startGame" class="btn btn-dark">Start game</button>
    </div>
    <div v-else>
        <p>Only admin can start the game :(</p>
    </div>
</div>