body {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: whitesmoke;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    width: 100%;
}

.aligned {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
}

.title {
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}

input {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    background-color: #ccc;
    cursor: pointer;
    margin-bottom: 10px;
}

.player_card {

    border-radius: 10px;
    padding: 5px;
    background-color: rgb(125, 164, 124);
    color: white;
}

.waiting_players {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
}

.in_game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
}

textarea {
    width: 500px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.banner-green {
    background-color: rgb(125, 164, 124);
    color: white;
    border-radius: 10px;
    padding: 5px;
}

.banner-red {
    background-color: rgb(164, 125, 125);
    color: white;
    border-radius: 10px;
    padding: 5px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answers_box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.logo {

    animation-name: bounce;
    animation-duration: 0.7s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    animation-iteration-count: infinite;
}

.audience_side {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    left: 0;
    bottom: 0;
    margin-bottom: 75px;
    width: 100%;
    position: fixed;
}

.players_side {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
}

.spaceLeft {
    margin-left: 20px !important;
}

@keyframes bounce {
    from {
        transform: translateY(0) scale(1);
    }

    to {
        transform: translateY(70px) scale(1, 0.5);
    }
}