

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: whitesmoke;
}

.game{
    display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
}

.title {
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}
.container {
    background-color: white;
    width: 500px;
    height: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
}

h2{
    width: 100px;
}

input{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
}

button{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    background-color: #ccc;
    cursor: pointer;
}